@charset "UTF-8";
/*补全草稿*/
#catalogCompletion .catalogCompletionInner {
  padding: 19px 14px;
}
#catalogCompletion .catalogCompletionInner .innerHeader .headerTitle h3 {
  display: inline-block;
}
#catalogCompletion .catalogCompletionInner .innerHeader .headerTitle sup {
  color: #cc6600;
}
#catalogCompletion .catalogCompletionInner .innerHeader .headerTitle p {
  display: inline-block;
}
#catalogCompletion .catalogCompletionInner .innerHeader .headerTip {
  font-weight: bold;
}
#catalogCompletion .catalogCompletionInner .innerContent {
  display: flex;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft {
  flex-basis: 294px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner {
  padding: 10px 5px 30px 5px;
  background: #f3f3f3;
  border: 1px solid;
  border-color: #e7e7e7;
  border-radius: 3px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateTitle {
  font-weight: bold;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateContent .row {
  display: flex;
  margin: 0px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateContent .row .rowInput {
  flex: 1;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateContent .row .rowMidd {
  flex-basis: 25px;
  text-align: center;
  line-height: 34px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateContent .btn {
  padding: 6px 8px;
  background: #ddd;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentLeft .leftInner .wrapDate .dateContent .btn span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid black;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight {
  flex: 1;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner {
  margin-left: 15px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .innerGreet {
  padding: 18px 18px 18px 58px;
  border: 1px solid;
  border-color: #bbd3de;
  border-radius: 3px;
  background: #f6f6f6;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .innerGreet .greet p {
  padding-left: 9px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnSearch .navbar-form {
  padding-left: 0px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnSearch .navbar-form .form-group {
  position: relative;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnSearch .navbar-form .form-group input {
  padding-left: 25px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnSearch .navbar-form .btn {
  background: #656b73;
  color: white;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnAdd {
  padding: 10px 0 10px 15px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnAdd .lotSize {
  background: #f7f8fa;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnAdd .addGood {
  background: #f5f6f8;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapBtn .btnAdd .savaAll {
  background: #f9f3e5;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel {
  margin: 3px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-heading {
  padding: 0px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-heading table {
  margin: 0px;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-heading table tr > th.toggleHov {
  border: none;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-heading table tr > th.toggleHov:hover {
  color: #e47911!important;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-heading table tr > th.toggleHov:hover .caret {
  visibility: visible;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .panel .panel-body {
  text-align: center;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .searchResult {
  text-align: right;
}
#catalogCompletion .catalogCompletionInner .innerContent .contentRight .rightInner .messInner .wrapTable .searchResult select.form-control {
  display: inline-block;
  width: auto;
}
#catalogCompletion .innerFooter {
  margin-top: 152px;
}
/*目录·添加商品*/
#catalogAddGood .catalogAddGoodInner {
  padding: 11px 33px;
}
#catalogAddGood .catalogAddGoodInner a:hover {
  color: #e47911;
}
#catalogAddGood .catalogAddGoodInner .innerHeader {
  padding-bottom: 39px;
  border-bottom: 1px solid;
  border-color: #aaaaaa;
  border-radius: 3px;
}
#catalogAddGood .catalogAddGoodInner .innerHeader .headerRight {
  margin-right: 110px;
}
#catalogAddGood .catalogAddGoodInner .innerContent {
  padding: 16px 0px;
  display: flex;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft {
  min-width: 713px;
  padding: 16px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 3px;
  flex: 1;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner {
  display: flex;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block {
  flex: 1;
  min-width: 326px;
  width: 400px;
  display: inline-table;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .title h4 {
  font-weight: bold;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .searchBlock .search .navbar-form {
  padding: 0px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .searchBlock .search .navbar-form .form-group {
  position: relative;
  display: inline-block !important;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .searchBlock .search .navbar-form .form-group input {
  width: 249px;
  padding-left: 27px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .searchBlock .search .navbar-form .btn {
  background: #656b73;
  color: white;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .createMess {
  margin-top: 25px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .createMess p {
  display: inline-block;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block .selfCatalog p {
  margin: 0px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .block ul .newFunc {
  margin-left: 3px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .lineDivider {
  border-right: 1px solid #ddd;
  margin-right: 19px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentLeft .leftInner .lineDivider span {
  width: 13px;
  display: inline-block;
  position: relative;
  top: 58px;
  left: 7px;
  background: white;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight {
  width: 26%;
  flex-basis: 293px;
  margin-left: 17px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner {
  padding: 12px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 3px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .messDraft {
  background: #e6f0fa;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 9px 12px;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .messDraft:hover {
  background: linen;
  cursor: pointer;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .messDraft:hover p {
  color: #c45500!important;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .messDraft p {
  margin: 0px;
  color: #337ab7;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .stock {
  text-align: center;
  padding-top: 9px;
  border-top: 1px solid #ddd;
}
#catalogAddGood .catalogAddGoodInner .innerContent .contentRight .rightInner .block .stock a {
  display: inline-block;
}
#catalogAddGood .innerFooter {
  margin-top: 172px;
}
/*管理库存*/
#repertoryManage .repertoryManageInner {
  min-width: 879px;
}
#repertoryManage .repertoryManageInner .innerNav {
  padding: 20px 20px 0px;
}
#repertoryManage .repertoryManageInner .innerNav .breadcrumb {
  margin-bottom: 6px;
  background: transparent;
}
#repertoryManage .repertoryManageInner h3,
#repertoryManage .repertoryManageInner p {
  margin: 0px;
}
#repertoryManage .repertoryManageInner .innerContent {
  padding: 0px 20px;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop {
  display: flex;
  justify-content: space-between;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topLeft .leftTitle {
  display: inline-block;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topLeft .leftTitle h3 {
  font-size: 30px;
  color: #000000;
  font-weight: normal;
  margin-right: 10px;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topLeft .leftMoreTitle {
  display: inline-block;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topLeft .leftMoreTitle a {
  font-size: 14px;
  color: #0066C0;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topLeft .leftMoreTitle span {
  color: #DDDDDD;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topRight {
  margin-right: 30px;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topRight .nav {
  border: none;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topRight .nav li {
  border: 1px solid #ADB1B8;
  background-color: #EEF0F2;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topRight .nav li a {
  padding: 6px 15px;
  color: inherit;
}
#repertoryManage .repertoryManageInner .innerContent .contentTop .topRight .nav .newFun {
  line-height: 35px;
  font-size: 12px;
  color: #CC6600;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock {
  margin-top: 30px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock .btn-group .btn-default {
  background-color: #F7F8FA;
  color: #999999;
  margin-right: 22px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock .btn-group .input-group {
  width: 320px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock .btn-group .input-group input {
  width: 186px;
  height: 35px;
  padding-left: 25px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock .btn-group .input-group .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #686F76;
  width: auto;
  line-height: normal;
  cursor: pointer;
  margin-left: -4px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentBtnBlock .btn-group .input-group .shuliang {
  padding-left: 20px;
  line-height: 35px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentRadioBlock {
  height: 60px;
  margin-top: 15px;
  margin-right: 20px;
  background-color: #F3F3F3;
  border: 1px solid #D7D7D7;
  font-size: 14px;
  line-height: 60px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentRadioBlock p {
  float: left;
  margin-left: 20px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentRadioBlock ul > li {
  margin-left: 20px;
  float: left;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentRadioBlock ul > li:nth-of-type(even) {
  margin-left: 15px;
  margin-right: 15px;
  color: #DDDDDD;
  font-size: 14px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable {
  margin-top: 10px;
  margin-right: 20px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel {
  margin-bottom: 0px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .panel-heading {
  padding: 0px 15px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table {
  margin-bottom: 0;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table thead > tr > th {
  border: 0;
  vertical-align: text-top;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table th {
  font-size: 13px;
  color: #0066C0;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table th span {
  color: #666666;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table th .hovToggle:hover {
  color: #e47911;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table th .hovToggle:hover span {
  color: inherit;
  visibility: visible;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table .blockCol {
  color: #000000;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table .orangeCol {
  color: #E47911;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table .orangeCol .caret {
  color: #E47911;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table .orangeCol span {
  color: #666666;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .panel .table .paddbotom button {
  background: #ddd5cf;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .resultBtn .btnInner {
  display: inline-block;
  margin-top: 3px;
}
#repertoryManage .repertoryManageInner .innerContent .contentSelf .contentTable .resultBtn .btnInner .btn {
  background: #F7F8FA;
  color: black;
}
#repertoryManage .innerFooter {
  margin-top: 182px;
}
/*创建新商品*/
#createNewGoods .createNewGoodsInner {
  margin: 20px 100px 60px 20px;
}
#createNewGoods .createNewGoodsInner p,
#createNewGoods .createNewGoodsInner h3 {
  margin: 0px;
}
#createNewGoods .createNewGoodsInner .innerHeader .headerTitle h3 {
  font-size: 30px;
  color: #C45500;
  margin-bottom: 3px;
}
#createNewGoods .createNewGoodsInner .innerHeader .headerTip p {
  display: inline-block;
  font-size: 14px;
}
#createNewGoods .createNewGoodsInner .innerContent .lookFor .lookForHead h3 {
  width: 60%;
  height: 50px;
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  padding-left: 20px;
  background-color: #F3F3F3;
  border: 1px solid #E2E2E2;
  margin-top: 15px;
  line-height: 50px;
}
#createNewGoods .createNewGoodsInner .innerContent .lookFor .lookForbody {
  width: 60%;
  height: 50px;
  font-size: 14px;
  border: 1px solid #E2E2E2;
  border-top: none;
  padding-left: 20px;
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
}
#createNewGoods .createNewGoodsInner .innerContent .lookFor .lookForbody p {
  font-weight: bold;
}
#createNewGoods .createNewGoodsInner .innerContent .lookFor .lookForbody .lookForBtn {
  width: 122px;
  height: 33px;
  background-color: #F3F3F3;
  border: 1px solid #E2E2E2;
  line-height: 33px;
  font-size: 15px;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 3px;
}
#createNewGoods .createNewGoodsInner .innerContent .lookFor .lookForbody .lookForBtn a {
  text-decoration: none;
  padding-left: 5px;
  color: #000000;
}
#createNewGoods .createNewGoodsInner .innerContent .noticeTip {
  width: 1120px;
  height: 70px;
  font-size: 15px;
  margin-top: 30px;
  border: 1px solid #E2E2E2;
  padding: 13px 20px;
}
#createNewGoods .createNewGoodsInner .innerContent .noticeTip p {
  margin: 0px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind {
  width: 1120px;
  height: 545px;
  background-color: #F3F3F3;
  border: 1px solid #E2E2E2;
  border-top: none;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindTitle h3 {
  padding: 20px 0px 20px 20px;
  font-size: 18px;
  color: #0066C0;
  margin: 0px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent {
  margin-left: 20px;
  margin-right: 20px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .leftBtn,
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .rightBtn {
  float: left;
  width: 40px;
  height: 440px;
  line-height: 440px;
  background: #F7F8FA;
  border: 1px solid #E2E2E2;
  cursor: pointer;
  text-align: center;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .leftBtn img,
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .rightBtn img {
  width: 12px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .listLeft {
  background: #fff!important;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list {
  float: left;
  width: 330px;
  height: 440px;
  background-color: #F4F4F4;
  border: 1px solid #E2E2E2;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list ul {
  padding-top: 9px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list ul li {
  padding: 2px 1px;
  margin: 11px 0px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list ul li a {
  display: block;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list ul li a span {
  line-height: 25px;
  margin-left: 20px;
}
#createNewGoods .createNewGoodsInner .innerContent .allGoodsKind .goodsKindContent .goodsKindList .list ul li a i {
  float: right;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../images/Am.png);
  background-repeat: no-repeat;
  background-position: -379px -10px;
  margin-right: 20px;
  margin-top: 3px;
}
#createNewGoods .createNewGoodsInner .innerContent .bottomBtn {
  margin: 10px 0px;
}
#createNewGoods .createNewGoodsInner .innerContent .bottomBtn button {
  width: 153px;
  background: #F7F8FA;
}
#createNewGoods .innerFooter {
  margin-bottom: 52px;
}
/*批量上传商品*/
#batchUpload .batchUploadInner {
  padding: 18px 25px;
}
#batchUpload .batchUploadInner h3,
#batchUpload .batchUploadInner p {
  margin: 0px;
}
#batchUpload .batchUploadInner .innerHeader {
  margin-bottom: 18px;
}
#batchUpload .batchUploadInner .innerHeader .headerTitle h3 {
  display: inline-block;
}
#batchUpload .batchUploadInner .innerHeader .headerTitle p {
  display: inline-block;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab ul.nav li > a {
  padding: 8px 15px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab ul.nav li.active > a {
  color: #c45500;
  font-weight: 700;
  border-top: 2px solid #c45500;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab ul.nav a:hover {
  color: #c45500;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab ul.nav .ulRightLink {
  display: inline-block;
  float: right;
  line-height: 36px;
  padding-right: 13px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent {
  display: flex;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content {
  flex: 1;
  margin-top: 21px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadHeader .headerTitle h4 {
  display: inline-block;
  font-size: 19px;
  margin: 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadHeader p {
  margin: 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadTip {
  margin-top: 21px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadTip .tipTitle h4,
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadTip .tipTitle p {
  margin: 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .loadTip .tipDetail {
  margin: 19px 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-heading {
  font-weight: bold;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-heading a {
  display: block;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-heading a span {
  float: right;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-heading a:hover {
  text-decoration: none;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-heading a:focus {
  text-decoration: none;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearchTool p {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearchTool p span {
  font-weight: bold;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearch .searchInner .input-group {
  display: block;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearch .searchInner .input-group input.form-control {
  width: 43%;
  display: inline-block;
  padding-left: 26px;
  border-radius: 4px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearch .searchInner .input-group button {
  margin: 0px 11px;
  background: #686F76;
  color: #fff;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .topBlock .blockSearch .searchInner .input-group span {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  z-index: 9;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .orLine {
  border-top: 1px solid #ddd;
  margin: 32px 0px 17px;
  width: 23%;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .orLine span {
  background: #fff;
  position: relative;
  top: -10px;
  left: 50%;
  margin-left: -14px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyTitle {
  font-weight: bold;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner {
  display: flex;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerList {
  flex: 1;
  height: 331px;
  border: 1px solid #E2E2E2;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerList .list-group .list-group-item {
  border: none;
  padding: 6px 15px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerList .list-group .list-group-item a {
  display: inline-block;
  width: 100%;
  color: #333;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerList .list-group .list-group-item a span.badge {
  float: right;
  font-size: 17px;
  color: #777;
  background: transparent;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerList .list-group .list-group-item a:hover {
  text-decoration: none;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .wrapGoodsClassify .GoodsClassifyInner .innerLeft {
  overflow-y: scroll;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .selectBlock p {
  font-weight: bold;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .selectBlock .btn-group .btn {
  background: #f5f5f5;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .selectBlock .btn-group .selectBtn {
  background: #787c80;
  color: #fff;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .tipBlock {
  width: 50%;
  margin: 26px 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #loadContent .wrapLoadFile .wrapLoadPanel .panel .panel-body .createBlockBtn .btn {
  background: #f9f3e5;
  color: #999;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel {
  margin-bottom: 21px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-heading span {
  float: right;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-heading a:hover,
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-heading a:focus {
  text-decoration: none;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table {
  margin: 0 auto;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table tbody tr td,
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table tbody tr th {
  padding: 7px 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table tbody tr th {
  text-align: right;
  padding-right: 29px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table tbody tr td .btn {
  background: #F7F8FA;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .panel .panel-body .checkBody table tbody tr td input.form-control {
  display: inline-block;
  width: auto;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #uploadContent .wrapUploadPanel .panel-group .clearFile .panel-heading h4 > a {
  color: red;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent {
  display: flex;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf {
  width: 100%;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf .blockTip .tipInner {
  padding: 10px 17px;
  border: 1px solid;
  border-color: #bbd3de;
  border-radius: 3px;
  background-color: #f6f6f6;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf .blockTip .tipInner span {
  display: inline-block;
  width: 27px;
  height: 26px;
  background-image: url(../images/Am.png);
  background-repeat: no-repeat;
  background-size: 400px 600px;
  -webkit-background-size: 400px 600px;
  background-position: -350px -28px;
  vertical-align: middle;
  margin: 0 11px 0 0;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf .blockTip .tipInner p {
  display: inline-block;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf .datePanel {
  margin-top: 21px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .tab-content #masteryStatusContent .statusContentSelf .datePanel .panel table {
  width: 100%;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight {
  flex-basis: 269px;
  margin-left: 25px;
  margin-top: 21px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightNotice .noticeInner {
  display: flex;
  padding: 8px 10px;
  border: 1px solid;
  border-color: #bbd3de;
  border-radius: 3px;
  background-color: #f6f6f6;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightNotice .noticeInner .innerIcon span {
  display: inline-block;
  width: 27px;
  height: 26px;
  background-image: url(../images/Am.png);
  background-repeat: no-repeat;
  background-size: 400px 600px;
  -webkit-background-size: 400px 600px;
  background-position: -350px -28px;
  vertical-align: middle;
  margin: 8px 11px 0 0;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel {
  margin-top: 18px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel .panel-heading {
  font-weight: bold;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel .panel-body {
  padding: 15px 18px 15px 15px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel .panel-body ul {
  margin: 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel .panel-body ul li {
  padding: 2px 0px;
}
#batchUpload .batchUploadInner .innerContent .contentSelf .selfTab .goodsUploadContent .goodsUploadRight .rightPanel .panel .panel-body ul li:before {
  content: '●';
  color: #999;
}
#batchUpload .innerFooter {
  margin-bottom: 52px;
}
/*上传商品信息文件*/
#uploadGoodsInfomation .GoodsInfomationInner {
  max-width: 1089px;
  min-width: 826px;
  padding: 16px 29px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerTop {
  color: #999;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerTop span {
  font-size: 19px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerTop button {
  margin: 0px 35px;
  padding: 6px 31px;
  background: #f5f5f5;
  color: #999;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle .titleBlockLeft h3,
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle .titleBlockLeft p {
  display: inline-block;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle .titleBlockLeft h3 {
  font-size: 28px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle .titleBlockLeft p {
  margin-left: 13px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentTitle .titleBlockRight {
  font-size: 21px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile {
  margin-bottom: 26px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px 8px;
  display: flex;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner div {
  text-align: center;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .selectFile {
  flex-basis: 243px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .selectFile button {
  padding: 5px 31px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .selectFile p {
  margin: 12px 0px;
  color: #999;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .wrapImg {
  flex-basis: 416px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .wrapImg div img {
  outline: none;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .wrapImg a {
  margin: 21px 0px 0px;
  display: inline-block;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .importantInfo {
  flex-basis: 340px;
  text-align: left;
  padding-left: 30px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .importantInfo p {
  margin: 0px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .importantInfo ul {
  position: relative;
  left: -13px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsFile .GoodsFileInner .importantInfo ul li:before {
  content: '●';
  color: #ddd;
  padding-right: 5px;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsBlock .list-group .list-group-item {
  border: none;
  border-top: 1px solid #ddd;
  font-size: 26px;
  color: #ddd;
}
#uploadGoodsInfomation .GoodsInfomationInner .innerContent .contentGoodsBlock .list-group .list-group-item .badge {
  font-size: 19px;
  font-weight: normal;
  color: #ddd;
  background: transparent;
}
/*销售申请*/
#salesApplication .salesApplicationInner {
  padding: 18px 25px;
}
#salesApplication .salesApplicationInner .innerHeader .headerTitle h3 {
  font-size: 28px;
}
#salesApplication .salesApplicationInner .innerContent {
  margin-top: 39px;
}
#salesApplication .salesApplicationInner .innerContent .contentTitle h4 {
  font-size: 17px;
  font-weight: bold;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock {
  display: flex;
  justify-content: flex-start;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockLeft {
  min-width: 698px;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockLeft .lookAll > button {
  background: #ebf5ff;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockLeft div {
  display: inline-block;
  margin: 0px 4px;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockLeft div button {
  background: #f6f6f6;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockLeft .line {
  border-left: 1px solid #ddd;
  height: 20px;
  vertical-align: middle;
  margin: 0px 9px;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockRight {
  margin-left: 83px;
  min-width: 328px;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockRight label span {
  font-size: 17px;
  font-weight: normal;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockRight label .searchBlock {
  display: inline-block;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockRight label .searchBlock input.form-control {
  width: auto;
  display: inline-block;
}
#salesApplication .salesApplicationInner .innerContent .statusBtnBlock .btnBlockRight label .searchBlock button {
  background: linear-gradient(to bottom, #72787f, #444c55);
  color: white;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel {
  margin-top: 11px;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel table {
  width: 100%;
  margin-left: 32px;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel table th,
#salesApplication .salesApplicationInner .innerContent .wrapPanel table td {
  width: 18%;
  display: inline-block;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel table th {
  vertical-align: bottom;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel table p {
  margin: 0px;
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel table .publicBtn {
  width: 99%;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}
#salesApplication .salesApplicationInner .innerContent .wrapPanel .panel-body tr {
  vertical-align: text-top;
}
#salesApplication .innerFooter {
  margin-top: 190px;
}
/*变体向导*/
#variantGuide .variantGuideInner {
  padding: 16px 30px;
}
#variantGuide .variantGuideInner .innerHeader .headerTitle h3 {
  display: inline-block;
  font-size: 28px;
}
#variantGuide .variantGuideInner .innerContent .contentPanel .panel .panel-heading {
  font-weight: bold;
}
#variantGuide .variantGuideInner .innerContent .contentPanel .panel .list-group li {
  font-size: 15px;
  background: #fbfbfb;
}
#variantGuide .variantGuideInner .innerContent .contentAccordion {
  margin-top: 39px;
}
#variantGuide .variantGuideInner .innerContent .contentAccordion .panel-group .panel .panel-heading span {
  float: right;
}
#variantGuide .innerFooter {
  margin-top: 252px;
}
span.searchIcon {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  z-index: 9;
}
/*底部*/
.innerFooter {
  width: 100%;
}
.innerFooter .footerInner {
  padding: 17px 23px;
  text-align: center;
  background: #f3f3f3;
}
.innerFooter .footerInner .footerLink {
  display: inline-block;
  float: left;
}
.innerFooter .footerInner .footerLink a {
  padding: 0px .5em;
}
.innerFooter .footerInner .footerLink span {
  color: #ddd;
}
.innerFooter .footerInner .footerBasis {
  display: inline-block;
  float: right;
}
@media screen and (max-width: 736px) {
  .innerFooter .footerLink,
  .innerFooter .footerBasis {
    float: none!important;
  }
}
.orColor {
  color: #e47911!important;
}
.orBg {
  background: #feb645!important;
}
.greenCol {
  color: #009900;
}
.bluCol {
  color: #0066c0;
}
.grayCol {
  color: #666;
}
.vticaTop {
  vertical-align: top;
}
.viShow {
  visibility: visible;
}
.viHide {
  visibility: hidden;
}
.lisStyDsic:before {
  content: '●';
  color: #999;
  padding-right: 5px;
}
