#help .helpInner .innerHeader {
  display: flex;
  padding: 9px 8px;
  background: #303942;
}
#help .helpInner .innerHeader .toHome {
  display: inline-block;
  flex-basis: 75px;
  padding: 3px 0px;
  min-width: 60px;
}
#help .helpInner .innerHeader .toHome a {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin: 0 7px 0 2px;
  vertical-align: text-top;
  font-size: 17px;
  color: #ffffff;
}
#help .helpInner .innerHeader .headSearch {
  flex-basis: 95%;
  display: inline-block;
  position: relative;
}
#help .helpInner .innerHeader .headSearch input {
  width: 100%;
  height: 27px;
  padding-left: 5px;
  border-radius: 5px;
}
#help .helpInner .innerHeader .headSearch .searchIcon {
  width: 29px;
  height: 27px;
  background: #ffbe61;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  cursor: pointer;
}
#help .helpInner .innerHeader .headSearch .searchIcon i {
  font-size: 20px;
  vertical-align: text-top;
}
#help .helpInner .innerHeader .headCart {
  flex-basis: 43px;
}
#help .helpInner .innerHeader .headCart a {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin: 0 0px 0 11px;
  vertical-align: text-top;
  font-size: 21px;
  color: #ffffff;
}
#help .helpInner .innerContent .feedBackLink {
  width: 100%;
  height: 23px;
  text-align: right;
}
#help .helpInner .innerContent .feedBackLink a {
  display: inline-block;
}
#help .helpInner .innerContent .fastAnswer {
  padding: 0px 21px;
}
#help .helpInner .innerContent .fastAnswer p {
  font-size: 20px;
}
#help .helpInner .innerContent .agreement {
  background: #f4f5f5;
  padding: 11px 19px;
}
#help .helpInner .innerContent .wrapAgreement {
  padding: 0px 21px;
}
#help .helpInner .innerContent .wrapAgreement .agreementTitle h2 {
  font-size: 20px;
}
#help .helpInner .innerContent .wrapAgreement .agreementList li {
  border-bottom: 1px solid #cbcdd0;
  padding: 14px 0px;
}
#help .helpInner .innerContent .wrapAgreement .agreementList li a {
  display: block;
  font-size: 17px;
}
#help .helpInner .innerContent .wrapAgreement .agreementList li p {
  font-size: 12px;
  margin: 0px;
}
#help .helpInner .innerContent .viewHelp {
  padding: 18px 21px;
  text-align: right;
}
#help .helpInner .innerFooter {
  display: flex;
  background: #303942;
}
#help .helpInner .innerFooter a {
  flex: 1;
  padding: 5px 0px;
  text-align: center;
  color: white;
}
#help .helpInner .innerFooter a:hover {
  text-decoration: none;
  color: #C81623;
}
#help .helpInner .innerFooter a i {
  width: 45px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
#help .helpInner .innerFooter .glyphicon:before {
  font-size: 29px;
}
