#homePage #header .headAdv {
  height: 55px;
}
#homePage #header .headAdv a {
  display: inline-block;
  background: url(../images/headAdv.jpg);
  background-color: #F6F6F6;
  text-align: left;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 1920px;
  min-width: 1000px;
  height: 100%;
  width: 100%;
}
#homePage #header .headNav {
  margin: 0!important;
  background-color: #232f3e;
}
#homePage #header .headNav .navBelt {
  height: 39px;
  overflow: visible;
  display: flex;
}
#homePage #header .headNav .navBelt .navBeltLeft {
  width: 166px;
  padding: 13px 18px 0 27px;
  position: relative;
}
#homePage #header .headNav .navBelt .navBeltLeft a span {
  text-indent: -500px;
  width: 97px;
  height: 30px;
  background: url(../images/nav-sprite.png);
  background-repeat: repeat-x;
  background-position: -10px -51px;
  display: inline-block;
}
#homePage #header .headNav .navBelt .navBeltLeft .logoTxt {
  color: #48a3c6;
  position: absolute;
  top: 31px;
  left: 93px;
  font-size: 11px;
  line-height: 11px;
  font-family: arial, sans-serif;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch {
  margin-top: 0;
  padding-right: 25px;
  margin: 10px 0 0;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form {
  height: 35px;
  display: flex;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form div {
  display: inline-block;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formLeft .wrapSelect {
  position: relative;
  border-right: 1px solid #f3f3f3;
  height: 35px;
  margin: 0;
  overflow: hidden;
  border-radius: 3px 0px 0px 3px;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formLeft .wrapSelect select {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: #f3f3f3;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formLeft .wrapSelect select:focus {
  outline: none;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formCenter .wrapInput {
  height: 35px;
  background: #fff;
  width: 626px;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formCenter .wrapInput input {
  height: 33px;
  width: 100%;
  font-size: 15px;
  color: #111;
  padding-left: 9px;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formRight .wrapInputIcon {
  background-color: #febd69;
  width: 45px;
  height: 35px;
  cursor: pointer;
  position: relative;
  border-radius: 0px 3px 3px 0px;
}
#homePage #header .headNav .navBelt .navBeltCenter .centerSearch form .formRight .wrapInputIcon span {
  display: inline-block;
  background: url(../images/nav-sprite.png);
  background-position: -10px -290px;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
}
#homePage #header .headNav .navBelt .navBeltRight {
  max-width: 350px;
  height: 39px;
  margin: 8px 0 0;
}
#homePage #header .headNav .navBelt .navBeltRight a div {
  background: url(../images/navr.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: right;
  background-size: inherit;
  width: 383px;
  height: 39px;
  overflow: hidden;
  position: relative;
}
#homePage #header .headNav .downCaret:before {
  content: '▼';
  font-size: 11px;
  color: #ddd;
}
#homePage #header .headNav .navMain {
  width: 100%;
  height: 60px;
  padding-top: 5px;
  background: #232f3e;
  display: flex;
}
#homePage #header .headNav .navMain div {
  height: 59px;
}
#homePage #header .headNav .navMain .navMainLeft .wrapShop {
  padding: 1px 0px 0 15px;
  text-decoration: none;
  width: 192px;
}
#homePage #header .headNav .navMain .navMainLeft .wrapShop a {
  height: 26px;
  margin-top: 28px;
  display: block;
}
#homePage #header .headNav .navMain .navMainLeft .wrapShop a span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 0 12px 0 13px;
  color: #fff;
}
#homePage #header .headNav .navMain .navMainCenter .wrapContain {
  margin: 31px 0 0;
  height: 29px;
  min-width: 630px;
}
#homePage #header .headNav .navMain .navMainCenter .wrapContain a {
  padding: 0 9px;
  color: #ccc;
}
#homePage #header .headNav .navMain .navMainCenter .wrapContain a:hover {
  text-decoration: underline;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool {
  padding: 0px 7px 0px 32px;
  text-decoration: none;
  /*display: flex;*/
  /*align-items: flex-end;*/
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool a {
  display: inline-block;
  padding: 0 0 0 9px;
  margin: 0 1px;
  line-height: 44px;
  height: 44px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool a span {
  display: inline-block;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .toolInner {
  padding-right: 11px;
  margin-left: -16px;
  vertical-align: top;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .toolInner .innerIcon .globeIcon {
  background: url(../images/Internation.png);
  background-position: -77px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 15px;
  left: 24px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .toolInner .innerIcon span:last-child {
  position: relative;
  top: -3px;
  left: 5px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .toolInner .caretIcon {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding-bottom: 5px;
  padding-right: 9px;
  color: #fff;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .toolInner .caretIcon span {
  display: inline-block;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #606060;
  border-top-color: #a7acb2;
  background: url(../images/nav-sprite.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
  position: relative;
  left: 8px;
  top: 14px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .languageLink .line {
  border-right: 1px solid #555;
  display: inline-block;
  width: 1px;
  height: 29px;
  position: relative;
  top: 12px;
  vertical-align: super;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .navAccount {
  line-height: 14px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .navAccount span:first-child {
  display: block;
  font-size: 12px;
  color: #ccc;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .navAccount span:nth-child(2) {
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .orderLink {
  margin-top: 18px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .orderLink span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 5px;
  color: #fff;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .primeLink span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 5px;
  color: #fff;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .cartLink {
  margin: 0 1px;
  display: inline-block;
  padding: 0 0 0 9px;
  line-height: 44px;
  height: 44px;
  width: 92px;
  position: relative;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .cartLink .cartIcon {
  background: url(../images/nav-sprite.png);
  background-repeat: repeat-x;
  position: absolute;
  left: 10px;
  top: 24px;
  background-position: -10px -340px;
  width: 38px;
  height: 26px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .cartLink .cartCount {
  color: #f08804;
  position: absolute;
  top: 7px;
  left: 27px;
  font-size: 16px;
  width: 19px;
}
#homePage #header .headNav .navMain .navMainRight .wrapNavTool .cartLink .cartTxt {
  margin-left: 42px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  float: left;
  position: relative;
  top: 21px;
  left: -6px;
}
#homePage .homePageInner .innerBanner {
  height: 300px;
  position: relative;
}
#homePage .homePageInner .innerBanner .bannerImg ul li {
  width: 100%;
}
#homePage .homePageInner .innerBanner .bannerImg ul li a img {
  max-width: 100%;
  height: 300px;
}
#homePage .homePageInner .innerBanner .togBtn {
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0px;
}
#homePage .homePageInner .innerBanner .togBtn span {
  background-size: 68px 52px;
  background-image: url(../images/arrows.png);
  width: 34px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17px;
}
#homePage .homePageInner .innerBanner .btnLeft {
  left: 0px;
  background-position: 0 0;
}
#homePage .homePageInner .innerBanner .btnRight {
  right: 0px;
}
#homePage .homePageInner .innerBanner .btnRight span {
  background-position: -34px 0;
}
#homePage .homePageInner .innerContent {
  display: flex;
  margin-bottom: 39px;
}
#homePage .homePageInner .innerContent a {
  color: #247bbd;
}
#homePage .homePageInner .innerContent a:hover {
  text-decoration: underline;
}
#homePage .homePageInner .innerContent .contentLeft {
  flex: 1;
  overflow: hidden;
  border: 1px solid green;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody {
  padding: 5px 20px 0 20px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .blockScroll {
  position: absolute;
  height: 6px;
  bottom: 0;
  left: 0;
  width: 100%;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .blockScroll span {
  display: block;
  background-color: #eee;
  height: 1px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  top: 2px;
  margin: 0;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock {
  padding: 10px 20px;
  margin-bottom: 8px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockTitle {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 25px;
  margin: 10px 0 0;
  line-height: 1.6;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockTitle h3 {
  font-size: 21px;
  font-weight: 400;
  color: #444!important;
  display: inline-block;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockTitle a {
  font-size: 14px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent {
  position: relative;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockBtn {
  position: absolute;
  top: 0px;
  z-index: 9;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockBtn a {
  position: absolute;
  top: 55px;
  background-color: #fff;
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockBtn a span {
  background-size: 132px 235px;
  background-image: url(../images/sprite_desktop.png);
  display: inline-block;
  line-height: normal;
  vertical-align: top;
  position: relative;
  top: 50%;
  height: 22px;
  width: 13px;
  margin-top: -11px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .btnLeft a {
  box-shadow: 2px 1px 2px #888;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .btnLeft a span {
  background-position: -14px 0;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .btnRight {
  right: 45px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .btnRight a {
  box-shadow: -2px 1px 2px #888888;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .btnRight a span {
  background-position: 0 0;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods {
  width: 100%;
  padding: 0 0 15px;
  position: relative;
  overflow: hidden;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul {
  display: flex;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li {
  text-align: center;
  min-width: 200px;
  max-width: 246px;
  /*max-height: 200px;*/
  overflow: hidden;
  margin: 0 10px 0 0;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li a img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail {
  margin-top: 9px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail div {
  text-align: left;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail .dealPrice {
  font-weight: 400;
  font-size: 17px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail .dealOldPrice {
  font-weight: lighter;
  color: #879596;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail .dealOldPrice span {
  text-decoration: line-through !important;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyBlock .blockContent .blockGoods ul li .goodDetail .endInTime {
  font-size: 13px;
  color: #879596;
  font-weight: 400;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyAdvBlock {
  position: relative;
  display: flex;
  padding: 0px 12px 36px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyAdvBlock .advBlock {
  padding: 0 10px 0 10px;
  max-height: 200px;
  min-height: 150px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyAdvBlock .advBlock a {
  max-width: 440px;
  min-width: 330px;
  display: block;
  margin: auto;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyAdvBlock .advBlock a img {
  max-height: 200px;
  height: 100%;
  max-width: 100%;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodyAdvBlock .line {
  flex-basis: 9px;
  border-left: 1px solid #ddd;
  margin: 0px 10px 0px 18px;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodySingleAdv {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  padding: 0 10px 0 10px;
  max-height: 200px;
  min-height: 150px;
  min-width: 630px;
  text-align: center;
  overflow: hidden;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodySingleAdv a {
  display: inline-block;
}
#homePage .homePageInner .innerContent .contentLeft .contentLeftBody .bodySingleAdv a img {
  width: 100%;
  max-width: 100%;
}
#homePage .homePageInner .innerContent .contentRight {
  flex-basis: 263px;
  position: relative;
  padding: 10px 23px 10px 23px;
  background: rgba(0, 0, 0, 0.0235294);
  border: 1px solid purple;
}
#homePage .homePageInner .innerContent .contentRight .rightBlock {
  width: 100%;
}
#homePage .homePageInner .innerContent .contentRight .rightBlock .blockAdv {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#homePage .homePageInner .innerContent .contentRight .rightBlock .blockAdv a img {
  max-width: 100%;
  width: 100%;
}
#homePage .homePageInner .backTop {
  background-color: #37475a;
  text-align: center;
}
#homePage .homePageInner .backTop a {
  color: #fff;
}
#homePage .homePageInner .backTop a:hover {
  color: #fff;
}
#homePage .homePageInner .backTop a span {
  display: block;
  line-height: 19px;
  padding: 15px 0;
  font-family: arial, sans-serif;
  font-size: 13px;
}
#homePage .homePageInner .navFooter {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232f3e;
  min-width: 1000px;
  position: relative;
  padding: 0 0 7px 0;
}
#homePage .homePageInner .navFooter .footerBlock1 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 19px;
  padding-top: 25px;
  border-bottom: 1px solid #3a4553;
}
#homePage .homePageInner .navFooter .footerBlock1 .blockUl {
  display: table-cell;
  margin-right: 76px;
}
#homePage .homePageInner .navFooter .footerBlock1 .blockUl .ulTitle h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 6px 0 14px 0;
  color: #fff;
}
#homePage .homePageInner .navFooter .footerBlock1 .blockUl ul li {
  margin: 0 0 10px;
}
#homePage .homePageInner .navFooter .footerBlock1 .blockUl ul li a {
  color: #ddd;
}
#homePage .homePageInner .navFooter .footerLogo {
  text-align: center;
  max-width: 1000px;
  margin: 30px auto 15px;
}
#homePage .homePageInner .navFooter .footerLogo .logoInner,
#homePage .homePageInner .navFooter .footerLogo .otherTip {
  display: inline-block;
  vertical-align: text-bottom;
}
#homePage .homePageInner .navFooter .footerLogo .logoInner a {
  display: inline-block;
  background-position: -10px -90px;
  width: 76px;
  height: 23px;
  margin: 0 auto;
  background-image: url(../images/nav-sprite.png);
  background-repeat: no-repeat;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip {
  margin-left: 70px;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a {
  display: inline-block !important;
  border: 1px solid #848688;
  border-radius: 3px;
  padding: 6px 18px 6px 8px;
  font-size: 13px;
  margin-right: 4px;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a span {
  display: inline-block;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a .globeCaret {
  background: url(../images/globe.png);
  width: 12px;
  height: 12px;
  background-position: -77px -80px;
  position: relative;
  left: 12px;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a .globeImg {
  position: relative;
  background: url(../images/globe.png);
  background-position: -77px -24px;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a .unitedImg {
  background: url(../images/globe.png);
  background-position: -54px -108px;
  width: 18px;
  height: 12px;
  position: relative;
  margin: 3px 0 0;
  top: 1px;
}
#homePage .homePageInner .navFooter .footerLogo .otherTip a .txt {
  color: #ccc;
}
#homePage .homePageInner .navFooter .footerLineLink {
  background-color: #131a22;
  padding: 30px 0;
  margin: 30px 0 0;
  font-size: 12px;
}
#homePage .homePageInner .navFooter .footerLineLink table {
  max-width: 1119px;
  margin: 0 auto;
  width: 100%;
}
#homePage .homePageInner .navFooter .footerLineLink table tbody tr td {
  padding: 11px 0px;
}
#homePage .homePageInner .navFooter .footerLineLink table tbody tr .navFooterDescItem {
  font-size: 11px!important;
  padding: 0 .75em;
  vertical-align: top;
  text-align: left;
  line-height: 115%;
}
#homePage .homePageInner .navFooter .footerLineLink table tbody tr .navFooterDescItem a {
  color: #ddd;
}
#homePage .homePageInner .navFooter .footerLineLink table tbody tr .navFooterDescItem a .navFooterDescText {
  color: #999;
  font-size: 11px;
}
#homePage .homePageInner .navFooter .footerLineLink table tbody tr .navFooterDescSpacer {
  padding: 0 10px;
}
#homePage .homePageInner .navFooter footer {
  background-color: #131a22;
  max-width: 100%;
  margin: 0;
  padding: 10px 0 30px;
  font-size: 12px;
}
#homePage .homePageInner .navFooter footer .footerInner ul {
  display: flex;
  justify-content: center;
}
#homePage .homePageInner .navFooter footer .footerInner ul li a:hover {
  color: #ddd;
  text-decoration: underline;
}
