.head {
	width: 100%;
	min-width: 1200px;
	background: #f8f8f8;
	height: 100px;
	text-align: center;
	font-size: 30px;
	line-height: 100px;
}

.cardPlatform {
	width: 90%;
	min-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.cardPlatform ul {
	display: inline-block;
	margin: 200px auto;
}

.cardPlatform ul li {
	float: left;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	line-height: 200px;
	margin-left: 50px;
}

.cardPlatform ul li a {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 22px;
	color: white;
	transition: 1s;
	-moz-transition: 1s;
	/* Firefox 4 */
	-webkit-transition: 1s;
	/* Safari 和 Chrome */
	-o-transition: 1s;
}

.cardPlatform ul .lastLi a {
	margin-left: 0;
	background: darkcyan;
}

.cardPlatform ul .conteLi a {
	background: darkseagreen;
}

.cardPlatform ul .firstLi a {
	background: lightseagreen;
}

.cardPlatform ul li a:hover {
	width: 230px;
	height: 230px;
	line-height: 230px;
	box-shadow: 5px 3px 5px sienna;
}