.loginSecurity .loginSecurityBox .boxContent{
	width: 570px;
	height: 462px;
	margin: 100px auto 0;
	padding: 15px;
}
.loginSecurity .loginSecurityBox .boxContent h1{
	display: inline-block;
	font-size: 28px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}
.loginSecurity .loginSecurityBox .boxContent ul{
	border: 1px solid gainsboro;
	border-bottom: none;
}
.loginSecurity .loginSecurityBox .boxContent ul li{
	display: inline-block;
	width: 548px;
	height: 60px;
	padding: 10px;
	border-bottom: 1px solid gainsboro;
}
.loginSecurity .loginSecurityBox .boxContent ul li .left{
	display: inline-block;
	width: 467px;
}
.loginSecurity .loginSecurityBox .boxContent ul li .right{
	display: inline-block;
	width: 70px;
	height: 30px;
	background: salmon;
	text-align: center;
	line-height: 30px;
	border: 1px;
	border-style: solid;	
	border-color: #adb1b8 #a2a6ac #8d9096;
	border-radius: 4px;
}
.loginSecurity .loginSecurityBox .boxContent ul li .right a{
	display: inline-block;
	width: 70px;
	height: 30px;
	background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
	color: #000000;
}
.loginSecurity .loginSecurityBox .boxContent ul li .right a:hover{
	background: #e7e9ec;
}
.loginSecurity .loginSecurityBox .boxContent .submit{
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);	
	border: 1px;
	border-style: solid;	
	border-color: #a88734 #9c7e31 #846a29;
	border-radius: 4px;
	margin-top: 25px;
	text-align: center;
	cursor: pointer;
	color: #000000;
}
.loginSecurity .loginSecurityBox .boxContent .submit:hover{
	background: #f0c14b;
	color: #000000;
	
}
