.box{
	width: 310px;
	height: 555px;
	border: 1px solid #ddd;
	margin: 80px auto;
	padding: 20px;	
}
.box_content{
	display: inline-block;
	width: 310px;
	height: 635px;
}
.box_content h1{
	font-size: 24px;
	margin-bottom: 15px;
}
.box_content .textInput{
	display: inline-block;
	width: 294px;
	height: 20px;
	border: 1px solid #a6a6a6;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 3px 7px;
}
.box_content .pOne{
	margin-top: 20px;
}
.line{
	text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
	
}
.line .other{
	line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}
.line::after{
	content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top:50%;
    margin-top: -1px;
    z-index: 1;
}
.submit{
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #f0c14b;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 40px;
	border: 1px solid;
	border-color: #A8873A #9c7e31 #846a29;
	cursor: pointer;
}
.wechat{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #63d71f;
	font-size: 14px;
	margin-top: 10px;
}
.wechat a{
	color: white;
}
.divider{
	margin-top: 40px;
}
