#l_seller {
	width: 100%;
	padding: 14px 18px 18px 18px;
	box-sizing: border-box;
}

#l_seller .l_sellerLeft,
.l_sellerRight {
	width: 25%;
	float: left;
}

#l_seller .l_sellerCenter {
	width: 50%;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}
#l_seller .l_sellerCenter p{
	line-height: 25px;
}
#l_seller .l_sellerS {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
}

#l_seller .l_sellerS h3 {
	font-size: 22px;
	color: #000;
	padding: 10px 0;
}

#l_seller .l_sellerS h3>span {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	background: url(../images/seller.png) no-repeat;
	background-position: -84px -5px;
}

#l_seller .l_sellerLeft>div>div {
	margin-bottom: 10px;
}

#l_seller .l_sellerLeft>div>div>a {
	background: #e6f0fa none repeat scroll 0 0;
	border-radius: 3px;
	display: block;
	font-size: 17px;
	padding: 6px 10px;
	position: relative;
	color: #0066C0;
}
#l_seller .l_sellerLeft>div>div>a:hover{
	color: #f60;
    background-color: linen;
}
#l_seller .l_sellerLeft>div>div>a>span{
	float: right;
	display: block;
}
#l_seller .l_sellerLeft>div>p{
	font-size: 17px;
	color: #000;
	margin:10px 0;
}
#l_seller .l_sellerLeft .l_sL1Number{
	color: #666;
	font-size: 12px;
}
#l_seller .l_sellerRight1 p{
	font-size: 12px;
	padding:5px 0;
	
		
}
#l_seller .l_sellerRight1 p a{
	color: blue;
}
#l_seller .l_sellerRight1 .l_sR1D{
	color: #000;
	font-size: 18px;
	margin-right: 10px;
}
#l_seller .l_sellerRight2 h5{
	font-size: 17px;
	color: #333;
	font-weight: 100;
	padding:5px 0;
}
#l_seller .l_sellerRight2 ul li{
	padding: 2px 0;
	color: #444;
}
#l_seller .l_sellerRight2 ul li span{
	margin-left: 20px;
	font-size: 14px;
}
#l_seller .l_sellerRight2 ul li .high{
	color: #ff6000;
}
#l_seller .l_sellerRight2 .high em{
	color: #FFF;
    background-color: #ff6600;
    text-align: center;
    display: inline-block;
    zoom: 1;
    width: 40px;
    margin-left: 2px;
}
#l_seller .nccs_table{
	background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    border-radius: 2px;
    clear: both;
    line-height: 20px;
    margin: 10px 0;
    width: 100%;
	width: 96%;
    margin: 10px;
}
#l_seller .ncsc-default-table thead {
     height: 45px; 
    line-height: 45px;
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
#l_seller .ncsc-default-table tr {
    border-bottom: 1px solid #e3e3e3;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#l_seller tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#l_seller .ncsc-default-table tbody td {
    color: #242424;
    background-color: #FFF;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
}
#l_seller:after{ 
　　content:''; 
　　display:block; 
　　height:0; 
　　font-size:0; 
　　clear:both; 
　　overflow:hidden; 
} 
#l_seller .footer{width:100%;height:20px;margin-top: 30px;border-top: 1px solid #ddd; color: #777;text-align: center;padding: 15px 0;}


