#l_sellerRegister {
	width: 400px;
	margin: 15px auto;
}

#l_sellerRegister .l_sRheader {
	width: 100%;
	height: 38px;
	margin-bottom: 18px;
}

#l_sellerRegister .l_sRheader a {
	width: 107px;
	display: block;
	height: 100%;
	background: url(../images/icon.png);
	margin: 0 auto;
	background-position: 0px -120px;
}

#l_sellerRegister .l_sRCenter {
	width: 348px;
	height: 495px;
	border: 1px solid #E6E6E6;
	padding: 18px;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 auto;
}

#l_sellerRegister .l_sRCenter h2 {
	font-size: 28px;
	color: #000;
	margin-bottom: 14px;
}

#l_sellerRegister .l_sRCenter ul li {
	color: #000;
	font-size: 14px;
	line-height: 19px;
	font-weight: 700;
	margin-bottom: 14px;
	height: 52px;
}

#l_sellerRegister .l_sRCenter ul li input {
	border: 1px solid #a6a6a6;
	width: 100%;
	height: 30px;
	border-radius: 5px;
}

#l_sellerRegister .l_sRCenter ul li:nth-of-type(5) input {
	background: #f0c14b;
	border-color: #a88734 #9c7e31 #846a29;
}

#l_sellerRegister .l_sRCenter ul li:nth-of-type(6) {
	color: #999;
	font-size: 12px;
	margin: 0;
}

#l_sellerRegister .l_sRCenter ul li:nth-of-type(6) a {
	color: #0066C0;
}

#l_sellerRegister .l_sRinner {
	height: 44px;
	margin-bottom: -18px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
	z-index: 0;
	zoom: 1;
	line-height: 40px;
}

#l_sellerRegister .l_sRinner a {
	color: #0066C0;
}

#l_sellerRegister .l_sRinner:after {
	display: block;
	width: 100%;
	height: 44px;
	background-color: transparent;
	background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	z-index: 1;
	content: "";
}

.l_sellerRegisterFooter {
	height: 44px;
	border: 1px solid #E6E6E6;
	padding-top: 20px;
}

.l_sellerRegisterFooter>div {
	text-align: center;
}

.l_sellerRegisterFooter>div a {
	color: #0066C0;
	margin-right: 20px;
}