header {
  width: 100%;
  height: 46px;
  margin-top: 5px;
  position: relative;
}
header div {
  float: left;
}
header .logo {
  width: 192px;
  height: 46px;
}
header .logo .logo1 {
  width: 90px;
  height: 40px;
  margin-top: 6px;
  margin: 0 auto;
  display: block;
  background: url(../images/icon.png);
  background-position: -10px -120px;
}
header .logo .logo2 {
  position: relative;
  top: -25px;
  left: 100px;
  text-align: center;
  text-decoration: underline;
  color: #48A3C6;
}
header .search {
  width: 1000px;
  height: 100%;
  padding-top: 8px;
  box-sizing: border-box;
  position: absolute;
  margin-left: 200px;
}
header .search .search-left {
  display: inline-block;
  height: 30px;
  border: 1px solid #cdcdcd;
  background: #bdbdbd;
  width: 100px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px 0 0 5px;
  float: left;
}
header .search .search-left span {
  border-style: solid;
  position: relative;
  top: -2px;
  _border-style: dashed;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #666;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
header .search .search-center {
  height: 32px;
  border: 1px solid #cdcdcd;
  width: 100%;
  position: absolute;
  left: -200px;
  margin-left: 200px;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  float: left;
  border-radius: 5px;
  z-index: -1;
  text-align: left;
}
header .search .search-right {
  display: inline-block;
  height: 33px;
  border: 1px solid #cdcdcd;
  background: #666 url(../images/icon.png);
  background-position: -32px -285px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 0 5px 5px 0;
  float: right;
}
/*底部样式*/
footer {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #333;
  /*底部logo*/
}
footer .footer-nav {
  width: 645px;
  height: 175px;
  margin: 0 auto;
}
footer .footer-nav li {
  font-size: 16px;
  color: #000;
  height: 100%;
  width: 160px;
  text-align: left;
  float: left;
}
footer .footer-nav li ul li a {
  font-size: 12px;
  color: #666;
  display: block;
  color: #004B91;
  margin-top: 5px;
}
footer .footer-nav li ul li a:hover {
  color: orange;
  text-decoration: underline;
}
footer .footer-logo {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
footer .footer-list {
  width: 100%;
}
footer .footer-list .navFooterLine {
  font-family: arial, sans-serif;
  color: #767676;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}
footer .footer-list .navFooterLine ul {
  display: inline-block;
  line-height: 18px;
  margin-left: 10px;
}
footer .footer-list .navFooterLine ul li {
  float: left;
  line-height: 18px;
}
footer .footer-list .navFooterLine ul li a {
  padding: 0 8px;
  border-right: 1px solid #004B91;
  color: #004B91;
  line-height: 18px;
}
footer .footer-list .navFooterLine span {
  position: relative;
  top: -3px;
  margin-left: 10px;
}
